{% extends 'layout.html' %}

{% block content %}
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 login-box">
      <div class="login-header">
      <i class="material-icons face">
        build
        </i>



      <h3 class="mdc-typography--headline4">We still working on this</h3>
      <h3 class="mdc-typography--headline5" style="color:gray">This is a info page</h3>
      <hr>
            <a id="qsLoginBtn" class="mdc-button btn btn-login btn-block" href="/login/auth0">Try it out</a>
        </div>
    </div>
{% endblock content %}
